@import "flowbite";
/* @import "./fonts.css"; */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

body{
  direction: rtl;

}

@keyframes bounceX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(500%); 
  }
  100% {
    transform: translateX(-50%);  
  }
}

.animate-bounceX {
  animation: bounceX 40s ease-in-out infinite;
}

