@font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Display Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Display Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Display Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Display Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Display Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Text Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lyon Arabic';
    src: url('/assets/font/Lyon_Arabic/COMM - Lyon Arabic Text Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  